body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 252, 252);
  color: black;
}

header {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px;
  text-align: center;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

h1 {
  color: rgb(0, 0, 0);
}

.category {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.category button {
  background-color: rgb(255, 255, 255);

  border: 1px solid black;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}

.category-button:hover {
  background-color: rgb(16, 74, 182) !important;
  color: white;
  cursor: pointer;
}
